
<div class="row">
  <div class="col-xs-6">
    <h1>Turn #<%= @game.turn + 1 %></h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <h1><%= @player.name %>, you currently have <%= @player.points %> points.</h1>
  </div>
</div>
